<div class="jumbotron">
    <!--Main page-->
    <h1>I got a web page nananananna</h1>
    <ul>
        <li>@Html.ActionLink("fancy pantsy", "NiceLinks", "Home")</li>
        <li>@Html.ActionLink("them cars", "GetAllCars", "Home")</li>
        <li>@Html.ActionLink("Model list", "GetListOfModels", "Home")</li>
        <li>@Html.ActionLink("Manufacturers", "GetListOfManufacturers", "Home")</li>
        <li>@Html.ActionLink("Contact us", "Contact", "Home")</li>
    </ul>
</div>

